.inner-container{
    gap:1.5rem;
    background:#1c997f;
    padding:2rem;
    border-radius:10px;
    border:6px solid #1c997f;
    text-align: center;
}
.inner-container .primaryText{
    color:white;
    font-weight: 600;   
}

.inner-container .secondaryText{
    color:rgba(255,255,255,0.587);
}

.inner-container .button{
    background: #1c997f;
    border:2px solid white;
    box-shadow: var(--shadow);
    border-radius:10px;    
}
.line{
    width: 100%;    
    border-bottom: 3px solid white;
    margin-top: 15px;
    margin-bottom: 15px;
}